body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main__content {
  background-color: #ffffff;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

.about {
  margin-bottom: 40px;
}

.about__position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about__name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about__discription {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.projects {
  margin-bottom: 50px;
}

.project__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.project__item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project__brackets {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project__list {
  padding: 0;
  margin-left: 15px;
}

.project__link {
  margin-left: 10px;
}

.work__position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.work__organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.work__period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.work__line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work__list {
  padding: 0;
  margin-left: 15px;
}

.work-list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}

.sidebar__photo {
  width: 370px;
  margin-bottom: 50px;
}

.sidebar__title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.sitebare__contacts,
.sidebar__tech-skills {
  margin-left: 40px;
}

.sidebar__contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}

.sidebare__contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.sidebar__contacts {
  margin-bottom: 50px;
}

.sidebar__tech-skills-list {
  color: #fff;
  padding: 0;
  margin-left: 15px;
}

.sidebar__tech-skills-point {
  color: #fb6d3a;
}

.sidebar__tech-skills-item {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.sidebar__soft-skills-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.sidebar__soft-skills {
  margin-top: 50px;
  margin-left: 40px;
}

.sidebare__soft-skills-list {
  color: #fff;
  padding: 0;
  margin-left: 15px;
}

.sidebare__soft-skills-point {
  color: #fb6d3a;
}

.sidebare__soft-skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */